{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

<div class="d-flex justify-content-center">
    <div class="col col-md-7 bg-light rounded-4">
        {{ form_start(registrationForm) }}
            {# {{ form_row(registrationForm.email) }} #}
            {{ form_row(registrationForm.email, {
                'attr':{'class':'rounded-pill'},
                label: "Votre email"
                }) }}

            {{ form_row(registrationForm.plainPassword, {
                'attr':{'class':'rounded-pill'},
                label: 'Mot de passe'
            }) }}

            <div class="d-flex align-items-start">
                <div>
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="fw-light">
                    J'accepte&nbsp;<a href="{{path ("app_front_cgv")}}">les conditions d'utilisation</a>&nbsp;et&nbsp;<a href="{{path ("app_front_policy")}}">la politique de confidentialité</a>&nbsp;de Nani.
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success btn-sm">S'inscrire</button>
                <a href="{{path ("app_login")}}" class="btn btn-dark btn-sm my-2 rounded"  title="Inscription">Se connecter</a>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
