{% extends 'base.html.twig' %}

{% block title %}
    Nani - Contact
{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <div class="container" id="container-form">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Contactez-nous</h3>
                <p class="text">
                    Si vous souhaitez plus de renseignements, n'hésitez pas à nous contacter via les coordonnées ci-dessous, ou via la formulaire de contact.
                </p>

                <div class="info">
                    <div class="information">
                        <i class="bi bi-map"></i>
                        <p>17 rue Paul Fort, 77330 Ozoir la ferrière - France</p>
                    </div>
                    <div class="information">
                        <i class="bi bi-envelope"></i>
                        <p>contact@nani.com</p>
                    </div>
                    <div class="information">
                        <i class="bi bi-telephone"></i>
                        <p>+33 (0)1.23.45.67.89</p>
                    </div>
                </div>

                <div class="social-media">
                    <p>Suivez-nous sur :</p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="contact-form">
                {# <form action="/index.html.twig" autocomplete="off"> #}
                    {{ form_start(form) }}
                        <div class="input-container">
                            {{ form_row(form.name, {'attr': {'class': 'input form-control','placeholder': 'Nom' }}) }}
                        </div>

                        <div class="input-container">
                            {{ form_row(form.email, {'attr': {'class': 'input form-control','placeholder': 'E-mail' }}) }}
                        </div>

                        <div class="input-container">
                            {{ form_row(form.subject, {'attr': {'class': 'input form-control','placeholder': 'Sujet du message' }})|raw }}
                        </div>

                        <div class="input-container">
                            {{ form_row(form.phone, {'attr': {'class': 'input form-control','placeholder': 'Format : 0122334455'}}) }}
                        </div>

                        <div class="input-container">
                            {{ form_row(form.message, {'attr': {'class': 'input textarea','placeholder': 'Message' }})|raw }}
                        </div>
                            {% include "admin_common/_required-fields-white.html.twig" %}
                        <button class="btn btn-link" type="submit" title="Envoyer">
                            Envoyer
                        </button>
                    {{ form_end(form) }}
                {# </form> #}
            </div>

        </div>
    </div>

{% endblock %}
