{% extends 'base-backend.html.twig' %}

{% block title %}Carousel{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Gallerie d'images de la page d'accueil</h1>
        <a href="{{ path('app_admin_carousel_new') }}" class="btn btn-primary" title="Nouveau">Nouveau</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Image</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Tag</th>
                <th class="text-end">Modifié le :</th>
                <th class="text-end">Voir / Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                {# <td>{{ carousel.id }}</td> #}
                <td>
                    <a href="{{asset('images/carousel_home/' ~ carousel.imageName)}}" data-lightbox="{{ carousel.imageName }}" data-title="{{ carousel.imageName }}">
                        <img src="{{asset('images/carousel_home/' ~ carousel.imageName)}}" class="img-list" alt="{{ carousel.imageName }}">
                    </a>
                </td>
                <td>{{ carousel.title }}</td>
                <td>{{ carousel.text }}</td>
                <td>{{ carousel.tag }}</td>
                <td class="text-end">{{ carousel.updatedAt ? carousel.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_carousel_show', {'id': carousel.id}) }}" class="btn btn-dark" title="Détails">
                        <i class="align-middle" data-feather="eye"></i>
                    </a>
                    <a href="{{ path('app_admin_carousel_edit', {'id': carousel.id}) }}" class="btn btn-success" title="Modifier">
                        <i class="align-middle" data-feather="edit-3"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucunes données présentes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
