{% extends 'base.html.twig' %}

{% block title %}Nani - Accueil{% endblock %}

{% block body %}
    <h3>
        {{ content.title }}
    </h3>
    <div>
        {{ content.text|raw }}
    </div>

    {% if carousels is not null %}

        <div id="home-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for carousel in carousels %}
                    <button type="button" 
                            data-bs-target="#home-carousel" 
                            data-bs-slide-to="{{loop.index0}}" 
                            {% if loop.index0==0 %}class="active"{% endif %}
                            aria-current="true" 
                            aria-label="Slide {{loop.index}}">
                    </button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for carousel in carousels %}
                    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %} data-bs-interval="5000"">
                        {% if carousel.imageName is not null %}
                            <img src="{{asset ("images/carousel_home/" ~ carousel.imageName)}}" class="d-block w-100" alt="{{carousel.imageName}}">
                            {# <div class="carousel-caption d-none d-md-block">
                                {% if carousel.title is not null %}
                                    <h5>{{carousel.title}}</h5>
                                {% endif %}
                                {% if carousel.text is not null %}
                                    <div>{{carousel.text|raw}}</div>
                                {% endif %}
                            </div> #}
                            {% else %}
                            <img src="{{ asset('images/carousel_home/default.jpg') }}" class="d-block w-100" alt="{{ carousel.imageName }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>
    {% endif %}
    

{% endblock %}
