<h3>Nouveau message de {{name}}</h3>
    <p><strong>De : </strong>{{mail}}</p>
    <p><strong>Téléphone : </strong>{{phone}}</p>
<h4>Sujet : {{subject|raw}}</h4>
    <p><strong>Message : </strong><br>{{message|raw}}</p>